[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ply = "*"

[dev-packages]
pip-tools = "*"
twine = "*"
black = "*"
bumpver = "*"
pytest = "*"
build = "*"

[requires]
python_version = "3.10"
